.Content {
  margin-top: 72px;
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

[data-theme="dark"] .site-layout-content {
  background: #141414;
}
